<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HRMS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3DD7F8D010FB4B7277FD3584765B331375417A19</string>
				<key>dateExpires</key>
				<string>11/5/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8V4H9HQJCQ.com.app.disbrms</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8V4H9HQJCQ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>HRMS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>39e54d95-15da-4f0b-b085-3b60b19c45b0</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.app.disbrms</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8V4H9HQJCQ</string>
				<key>name</key>
				<string>Virox Software House Sdn Bhd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
